{% extends 'base.html' %} 

{% block title %}Verses{% endblock title %} 

{% block content %} 
    {% for verse in object_list %} 
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold"><a href="{% url 'verse_detail' verse.pk %}">{{ verse.book }} {{ verse.chapter }}:{{ verse.verse }}({{ verse.version }})</a></span> &middot;
            </div>
            <div class="card-body">
                {{ verse.content }}
            </div>
            <div class="card-footer">
                {% for comment in verse.comments.all %} 
                    <p>
                        <span class="font-weight-bold">
                            {{ comment.author }} &middot;
                        </span>
                        {{ comment }}
                    </p>
                {% endfor %}
            </div>
        </div>
        <br />
    {% endfor %} 
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="page-item disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock content %}