{% extends 'base.html' %} 

{% block title %}Verses{% endblock title %} 

{% block content %} 
    {% for verse in object_list %} 
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">{{ verse.book }} {{ verse.chapter }}:{{ verse.verse }}({{ verse.version }})</span> &middot;
            </div>
            <div class="card-body">
                {{ verse.content }}
            </div>
            <div class="card-footer">
                {% for comment in verse.comments.all %} 
                    <p>
                        <span class="font-weight-bold">
                            {{ comment.author }} &middot;
                        </span>
                        {{ comment }}
                    </p>
                {% endfor %}
            </div>
        </div>
        <br />
    {% endfor %} 
{% endblock content %}